# Python
# Ignore Python cache files and compiled files
/**/__pycache__/
*.pyc

# Project-Specific Directories
# Ignore these directories only at the root of the project
/robotAPI
/dataset
/data
/Archive
/logs

pipelines/trained_models/**/*.pth
/pipelines/trained_models/**/*.pth

# Other common files to ignore
*.log
.env
