# Python
# Ignore Python cache files and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.pth

# Project-Specific Directories
# Ignore these directories only at the root of the project
/robotAPI
/dataset
/data
/Archive
/logs

# Other common files to ignore
*.log
.env
